<div class="grid grid-2col">
  <div class="self-control-container">
    <h4 class="align-center">
      <a class="min-max-edit" data-prop="system.attributes.effort">
        <i class="fas fa-cogs"> </i>
      </a>

      {{ localize "VERMINE.self_control"}} :
      {{@root.system.attributes.self_control.value}}/
      {{@root.system.attributes.self_control.max}}
    </h4>
    {{setVar "SCIndex" 1}}
    <div class="reserve-grid">
      {{#repeat 4 1 "row"}}

      <div class="flexrow">
        {{#repeat @row @root.SCIndex "case"}}
        {{log @root.SCIndex}}
        <div class="hexa
       {{#iflteq @case @root.system.attributes.self_control.value }}
            checked
        {{/iflteq}}
        {{#ifgt @case @root.system.attributes.self_control.max }}
            unavailable
        {{/ifgt}}">
          {{#iflteq @row @root.system.attributes.self_control.max }}
          <input type="radio" data-dtype="Number"
            name="system.attributes.self_control.value"
            value="{{@case}}" {{#ife
            @root.system.attributes.self_control.value
            @root.selfControlIndex
            }}checked="checked"{{/ife}}
            class="
        {{#iflteq @case @root.system.attributes.self_control.max }}
            checked
        {{/iflteq}}

        " />
          {{/iflteq}}

        </div>
        {{setVar "SCIndex" (math_add @root.SCIndex 1)}}
        {{/repeat}}
      </div>
      {{/repeat}}
    </div>
  </div>
  <div class="effort-container">
    <h4 class="align-center">
      <a class="min-max-edit" data-prop="system.attributes.effort">
        <i class="fas fa-cogs"></i>
      </a>
      {{ localize "VERMINE.effort"}} :
      {{@root.system.attributes.effort.value}}/
      {{@root.system.attributes.effort.max}}
    </h4>
    {{setVar "EffIndex" 1}}

    <div class="reserve-grid">
      {{#repeat 4 1 "row"}}

      <div class="flexrow">
        {{#repeat @row @root.EffIndex "case"}}
        {{log @root.EffIndex}}
        <div class="hexa
       {{#iflteq @case @root.system.attributes.effort.value }}
            checked
        {{/iflteq}}
        {{#ifgt @case @root.system.attributes.effort.max }}
            unavailable
        {{/ifgt}}">
          {{#iflteq @row @root.system.attributes.effort.max }}
          <input type="radio" data-dtype="Number"
            name="system.attributes.effort.value"
            value="{{@case}}" {{#ife
            @root.system.attributes.effort.value
            @root.selfControlIndex
            }}checked="checked"{{/ife}}
            class="
        {{#iflteq @case @root.system.attributes.effort.max }}
            checked
        {{/iflteq}}

        " />
          {{/iflteq}}

        </div>
        {{setVar "EffIndex" (math_add @root.EffIndex 1)}}
        {{/repeat}}
      </div>
      {{/repeat}}
    </div>
  </div>
</div>
<h4 class="item-name effect-name flexrow">{{ localize
  "VERMINE.wounds.name"}}</h4>
<ul class="unstyled">
  <li class="row mdb">{{ localize 'VERMINE.wounds.light'}} <span
      data-tooltip="seuil">({{
      system.minorWound.threshold }})</span>
    <div class="flexrow">
      {{#repeat system.minorWound.max 1 "minorwoundmax"}}
      <div class="hexa ability{{#iflteq @index @root.system.minorWound.value }}
            checked
          {{/iflteq}}">
        <input type="radio" data-dtype="Number" name="system.minorWound.value"
          value="{{@index}}" {{#ife @root.system.minorWound.value @index
          }}checked="checked"{{/ife}} data-wound="minorWound"
          class="
          {{#iflteq @index @root.system.minorWound.value }}
            checked
          {{/iflteq}}

        " />
      </div>
      {{/repeat}}
    </div>
  </li>
  <li class="row mdb">{{ localize 'VERMINE.wounds.heavy'}}
    <span>({{
      system.majorWound.threshold }})</span>
    <div class="flexrow">
      {{#repeat system.majorWound.max 1 majourwoundmax}}
      <div class="hexa ability{{#iflteq @index @root.system.majorWound.value }}
            checked
          {{/iflteq}}">
        <input type="radio" data-dtype="Number" name="system.majorWound.value"
          value="{{@index}}" {{#ife @root.system.majorWound.value @index
          }}checked="checked"{{/ife}} data-wound="majorWound"
          class="
          {{#iflteq @index @root.system.majorWound.value }}
            checked
          {{/iflteq}}

        " />
      </div>
      {{/repeat}}

    </div>
  </li>
  <li class="row mdb">{{ localize 'VERMINE.wounds.deadly'}}
    <span>({{system.deadlyWound.threshold }})</span>
    <div class="flexrow">
      {{#repeat system.deadlyWound.max 1 "deadlywoundmax"}}
      <div class="hexa ability{{#iflteq @index @root.system.deadlyWound.value }}
            checked
          {{/iflteq}}">
        <input type="radio" data-dtype="Number" name="system.deadlyWound.value"
          value="{{@index}}" {{#ife @root.system.deadlyWound.value @index
          }}checked="checked"{{/ife}} data-wound="deadlyWound"
          class="
          {{#iflteq @index @root.system.deadlyWound.value }}
            checked
          {{/iflteq}}

        " />
      </div>
      {{/repeat}}
    </div>
  </li>
</ul>
<h4 class="item-name effect-name flexrow">{{ localize "UI.effects.name"}}</h4>
<ol class="items-list effects-list">
  {{#each effects as |section sid|}}
  <li class="items-header flexrow" data-effect-type="{{section.type}}">
    <p class="item-name effect-name flexrow">{{#if (eq section.type
      'temporary')}}
      {{localize "UI.effects.temporary" }}
      {{else if (eq section.type 'passive')}}
      {{localize "UI.effects.passive" }}
      {{else if (eq section.type 'inactive')}}
      {{localize "UI.effects.inactive" }}
      {{/if}}
    </p>
    <div class="effect-source">{{localize 'UI.source'}}</div>
    <div class="effect-source">{{localize 'UI.duration'}}</div>
    <div class="item-controls effect-controls flexrow">
      <a class="effect-control" data-action="create"
        title="{{localize 'UI.effect_create'}}">
        <i class="fas fa-plus"></i> {{localize "UI.add"}}
      </a>
    </div>
  </li>

  <ol class="item-list">
    {{#each section.effects as |effect|}}
    <li class="item effect flexrow" data-effect-id="{{effect.id}}">
      <div class="item-name effect-name">
        <a class="effect-control flexrow flex-group-center items-center"
          data-action="edit" title="{{localize 'UI.effect_edit'}}">
          <img class="item-image" src="{{effect.icon}}" />
          <span>{{effect.label}}</span>
        </a>
      </div>
      <div class="effect-source">{{effect.sourceName}}</div>
      <div class="effect-duration">{{effect.duration.label}}</div>
      <div class="item-controls effect-controls flexrow">
        <a class="effect-control" data-action="toggle"
          title="{{localize 'UI.effect_toggle'}}">
          <i
            class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </a>
        <a class="effect-control" data-action="delete"
          title="{{localize 'UI.effect_delete'}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>
