<h4 class="physicalItem flexrow align-center">

    <div class="resource align-center flexcol">
        <label class="resource-label">{{ localize "VERMINE.rarity"}}</label>
        <div class="hexa">
            <input type="number" name="system.rarity.value"
                value="{{system.rarity.value}}" data-dtype="Number" />
        </div>
        <select name="system.rarity.handicap">
            <option value="0">handicap 0</option>
            {{#repeat 5 1 index}}
            <option value="{{@index }}" {{#ife @index system.rarity.handicap}}
                selected {{/ife}}>{{romanNumber @index}}</option>
            {{/repeat}}
        </select>
    </div>

    <div class="resource align-center flexcol">

        <label class="resource-label">{{ localize
            "VERMINE.reliability"}}</label>
        <div class="hexa"><input type="number" name="system.reliability"
                value="{{system.reliability}}" data-dtype="Number" /></div>
    </div>
    <div class="resource align-center flexcol">

        <label class="resource-label">{{ localize
            "VERMINE.quantity"}}</label>
        <div class="hexa"><input type="number" name="system.quantity"
                value="{{system.quantity}}" data-dtype="Number" /></div>
    </div>
    <div class="resource align-center flexcol">

        <label class="resource-label">{{ localize
            "VERMINE.weight"}}</label>
        <div class="hexa"><input type="number" name="system.weight"
                value="{{system.weight}}" data-dtype="Number" /></div>
    </div>

</h4>
<h2>description</h2>
{{editor system.description target="system.description" rollData=rollData
button=true owner=owner editable=editable}}
{{> "systems/vermine2047/templates/item/partials/damages.html"}}
