<div class="actor choose grid grid-4col">
    {{#each actorsList as | actor akey|}}
    <div class="actor" data-totem="{{ tk }}"
        data-actor-id="{{ actor.id }}">
        <span class="actor-name">{{
            actor.name }}</span>
        <img src="{{ actor.img }}" alt="{{ actor.name }}" />

    </div>
    {{/each}}
</div>