<ol class="items-list">
  <li class="item flexrow items-header">
    <div
      class="item-name"
      style="flex:4;"
    >{{ localize 'IDENTITY.name'}}</div>
    <div class="item-clew">{{ localize 'VERMINE.clew'}}</div>
    <div class="item-mobility">{{ localize 'VERMINE.mobility'}}</div>
    <div class="item-rarity">{{ localize 'VERMINE.rarity'}}</div>
    <div class="item-reliability">{{ localize 'VERMINE.reliability'}}</div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        title="Create item"
        data-type="defense"
      ><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each defenses as |item id|}}
    <li
      class="item flexrow flex-group-center"
      data-item-id="{{item._id}}"
    >
      <div
        class="item-name"
        style="flex:4;"
      >
        <div class="item-image item-control item-roll">
          <a data-roll-type="item"><img
              src="{{item.img}}"
              title="{{item.name}}"
              width="24"
              height="24"
            /></a>
        </div>
        <a title="Edit Item">{{item.name}}</a>
      </div>
      <p><a title="Edit Item">{{item.system.level}}</a></p>
      <p><a title="Edit Item">{{item.system.mobility}}</a></p>
      <p><a title="Edit Item">{{item.system.rarity.value}}</a></p>
      <p><a title="Edit Item">{{item.system.reliability}}</a></p>
      <div class="item-controls">
        <a
          class="item-control item-delete"
          title="Delete Item"
        ><i class="fas fa-trash"></i></a>
        <a
          class="item-control item-edit"
          title="Delete Item"
        ><i class="fas fa-edit"></i></a>
      </div>
    </li>
  {{/each}}
</ol>