<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name" style="flex:4;">{{ localize 'IDENTITY.name'}}</div>
    <div class="item-clew">{{ localize 'TOTEM.clew'}}</div>
    <div class="item-mobility">{{ localize 'TOTEM.mobility'}}</div>
    <div class="item-rarity">{{ localize 'TOTEM.rarity'}}</div>
    <div class="item-reliability">{{ localize 'TOTEM.reliability'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="defense"><i class="fas fa-plus"></i> Add item</a>
    </div>
  </li>
  {{#each defenses as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name" style="flex:4;">
        <div class="item-image">
          <a class="item-control item-edit" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
        </div>
        <a class="item-control item-edit" title="Edit Item">{{item.name}}</a>
      </div>
      <p><a class="item-control item-edit" title="Edit Item">{{item.system.level}}</a></p>
      <p><a class="item-control item-edit" title="Edit Item">{{item.system.mobility}}</a></p>
      <p><a class="item-control item-edit" title="Edit Item">{{item.system.rarity}}</a></p>
      <p><a class="item-control item-edit" title="Edit Item">{{item.system.reliability}}</a></p>
      <div class="item-controls">
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>