<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name" style="flex:4;">{{ localize 'IDENTITY.name'}}</div>
    <div class="item-ranges">{{ localize 'VERMINE.ranges'}}</div>
    <div class="item-damages">{{ localize 'VERMINE.dmg'}}</div>
    <div class="item-ammo">{{ localize 'VERMINE.ammo_sm'}}</div>
    <div class="item-rarity">{{ localize 'VERMINE.rarity_sm'}}</div>
    <div class="item-reliability">{{ localize 'VERMINE.reliability_sm'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item"
        data-type="weapon"><i class="fas fa-plus"></i></a>
    </div>
  </li>
  {{#each weapons as |item id|}}
  <li class="item flexrow  flex-group-center align-center"
    data-item-id="{{item._id}}">
    <div class="item-name flexrow" style="flex:4;">
      <div class="item-image">
        <a class="item-control" data-roll-type="item"><img
            src="{{item.img}}" title="{{item.name}}" width="24"
            height="24" /></a>
      </div>
      <a class="item-control item-roll">{{item.name}}</a>
    </div>
    <p><a>{{item.system.min_range}} /
        {{item.system.max_range}}</a></p>
    <p><a>
        {{#if item.system.damage.addVigor}}
        vigueur+
        {{/if}}
        {{item.system.damage.value}}
        ({{item.system.damage.type}})
      </a></p>
    <p><a>{{item.system.ammo}}</a></p>
    <p><a>{{item.system.rarity}}</a></p>
    <p><a>{{item.system.reliability}}</a></p>
    <div class="item-controls">
      <a class="item-control item-delete" title="Delete Item"><i
          class="fas fa-trash"></i></a>
      <a class="item-control item-edit" title="Edit Item"><i
          class="fas fa-edit"></i></a>
      <a class="item-control item-roll" title="Roll Item"><i
          class="fas fa-dice"></i></a>

    </div>
  </li>
  {{/each}}
</ol>