<!-- HEADER -->
<header class="char-header flexrow flex-group-center items-center">
    <section class="char-details" style="flex:50%;">
        <h1 class="char-name flexrow  flex-group-left">
            <label>{{ localize 'IDENTITY.name' }}</label>
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "TOTEM.CharacterNamePlaceholder"}}" />
        </h1>
        <div class="profile flexrow  flex-group-center">
            <label>{{ localize 'IDENTITY.profile' }}</label>
            <input name="system.identity.profile" type="text" value="{{system.identity.profile }}" data-dtype="String" />
        </div>
        <div class="flexrow  flex-group-center">
            <label for="system.identity.age">{{ localize 'IDENTITY.age' }}</label>
            <input type="number" name="system.identity.age" value="{{ system.identity.age }}" data-dtype="Number"/>
        </div>      
    </section>
    <section class="char-level" style="flex:50%;">
        <div class="flexrow  flex-group-left">
            <label for="system.identity.totem">{{ localize 'IDENTITY.totem' }}</label>
            <select name="system.identity.totem" class="w-full">
              {{selectOptions config.totems selected=system.identity.totem localize=true}}
            </select>
        </div>
        <div class="reputation flexrow  flex-group-center">
            <label>{{ localize 'TOTEM.reputation' }}</label>
            <input name="system.attributes.reputation.value" type="text" value="{{system.attributes.reputation.value }}" data-dtype="Number" />
        </div>
        <div class="experience flexrow  flex-group-center">
            <label>{{ localize 'TOTEM.experience' }}</label>
            <input name="system.details.xp.value" type="text" value="{{system.attributes.xp.value}}" data-dtype="Number"  />
        </div>
    </section>
</header>