<div class="grid grid-2col">
  <div>
    <ol class="items-list">
      <li class="item flexrow items-header">
        <div class="item-name"  style="flex:4;">{{ localize 'IDENTITY.name'}}</div>
        <div class="item-quantity">{{ localize 'VERMINE.qty'}}</div>
        <div class="item-weight">{{ localize 'VERMINE.weight'}}</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i></a>
        </div>
      </li>
      {{#each gear as |item id|}}
        <li class="item flexrow flex-group-center" data-item-id="{{item._id}}">
          <div class="item-name" style="flex:4;">
            <div class="item-image">
              <a class="item-control item-edit" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
            </div>
            <a class="item-control item-edit" title="Edit Item">{{item.name}}</a>
          </div>
          <p><a class="item-control item-edit" title="Edit Item">{{item.system.quantity}}</a></p>
          <p><a class="item-control item-edit" title="Edit Item">{{item.system.weight}}</a></p>
          <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>    
  </div> 
  <div>
    <h4>{{ localize 'IDENTITY.notes'}}</h4>
    {{editor system.equipment.description target="system.equipment.description" button=true owner=owner editable=editable}}
  </div> 
</div>
<h4>{{localize 'ITEMS.weapons'}}</h4>
{{> "systems/vermine2047/templates/actor/parts/actor-weapons.hbs"}}
<h4>{{localize 'ITEMS.defenses'}}</h4>
{{> "systems/vermine2047/templates/actor/parts/actor-defenses.hbs"}}
<h4>{{localize 'ITEMS.vehicles'}}</h4>
{{> "systems/vermine2047/templates/actor/parts/group-vehicles.hbs"}}