<form class="{{cssClass}} {{actor.type}} flexcol form" autocomplete="off">

  {{!-- Sheet Header --}}
  {{> "systems/vermine2047/templates/actor/group/group-header.hbs"}}
  
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">{{localize 'VERMINE.information' }}</a>
    <a class="item" data-tab="gear">{{localize 'VERMINE.gear' }}</a>
    <a class="item" data-tab="totem">{{localize 'VERMINE.road' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <h3>{{ localize 'VERMINE.information'}}</h3>
      {{> "systems/vermine2047/templates/actor/group/group-info.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="gear">
        <h3>{{ localize 'VERMINE.gear'}}</h3>
       {{> "systems/vermine2047/templates/actor/group/group-items.hbs"}}
    </div>

    {{!-- Road Tab --}}
    <div class="tab effects" data-group="primary" data-tab="totem">
      <h3>{{ localize 'VERMINE.road'}}</h3>
      {{> "systems/vermine2047/templates/actor/group/group-experience.hbs"}}
    </div>

  </section>
</form>

