<form class="{{cssClass}} {{actor.type}} flexcol form" autocomplete="off">

  {{!-- Sheet Header --}}
  {{> "systems/vermine2047/templates/actor/group/group-header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs sheet-navigation" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">
      <i data-tooltip="{{localize 'VERMINE.information' }}"
        class="fas fa-star"></i>
    </a>

    <a class="item" data-tab="gear">
      <i data-tooltip="{{localize 'VERMINE.gear' }}" class="fas fa-gear"></i>
    </a>
    <a class="item" data-tab="totem">
      <i data-tooltip="{{localize 'VERMINE.road' }}" class="fas fa-map"></i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <h3>{{ localize 'VERMINE.information'}}</h3>
      {{> "systems/vermine2047/templates/actor/group/group-info.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="gear">
      <h3>{{ localize 'VERMINE.gear'}}</h3>
      {{> "systems/vermine2047/templates/actor/group/group-items.hbs"}}
    </div>

    {{!-- Road Tab --}}
    <div class="tab effects" data-group="primary" data-tab="totem">
      <h3>{{ localize 'VERMINE.road'}}</h3>
      {{> "systems/vermine2047/templates/actor/group/group-experience.hbs"}}
    </div>

  </section>
</form>
