{{#*inline "createBox"}}
<div
  {{#if id}}id="{{id}}"{{/if}}
  class="flexrow box clickable block ironsworn__{{type}}__create"
  style="align-items: center; padding: 1rem;"
  data-img="{{img}}"
>
  <div class="flexcol" style="align-items: center;">
    <img src="{{img}}" width="75" height="75" alt="">
    <h4 style="margin: 0.1rem 0;">{{localize labelkey}}</h4>
  </div>
</div>
{{/inline}}

<form class='{{cssClass}} flexcol' autocomplete='off'>
  <div class="flexcol">
    <div class="flexrow boxrow">
      {{>createBox type="group" id="new-group" labelkey="VERMINE.type_group" img="/systems/vermine2047/assets/images/ui/actors/group.webp"}}
      {{>createBox type="character" labelkey="VERMINE.type_character" img="/systems/vermine2047/assets/images/ui/actors/character.webp"}}
      {{>createBox type="npc" labelkey="VERMINE.type_npc" img="/systems/vermine2047/assets/images/ui/actors/npc.webp"}}
      {{>createBox type="creature" labelkey="VERMINE.type_creature" img="/systems/vermine2047/assets/images/ui/actors/creature.webp"}}
    </div>
  </div>

  {{#if sfenabled}}
  {{/if}}
  </div>
</form>