<div class="vermine-roll-message">
  {{log this}}
  <h3>{{param.actor.name}} : test de {{param.rollLabel}}</h3>
  <div class="flexrow">
    <h4>difficulté</h4>
    <span id="difficulty">{{param.difficulty}}</span>
  </div>
  <div class="reroll-fromroll">
      <h4>relances possibles : <span id="allowed_reroll">{{param.Reroll}}</span></h4>
      <div class="reroll flexrow">
    <div class="reroll-from-effort flexrow">
        <h4 class="flexcol">
          <span>effort</span>
        </h4>
        <input type="range" min="0" 
        {{#iflt param.max_effort param.actor.system.attributes.effort.value}}
        max="{{param.max_effort}}"
        {{/iflt}}
        {{#iflteq param.actor.system.attributes.effort.value param.max_effort }}
        max="{{param.actor.system.attributes.effort.value}}"
        {{/iflteq}}
        value="0"
         id="effort-reroll">
         </input>
      <button class="grant-reroll" data-tooltip="s'accorder des relances"> <span id="granted-reroll">0</span> </button>

    </div> 
    
  </div>
      
  </div>
  <ul class="flexrow roll-results initial-roll"
    data-difficulty="{{param.difficulty}}">
    {{#each roll.dice as |dieType index|}}
    {{#each dieType.results as |die index|}}
    <li class="roll die flexcol 
    {{#if die.success}}
      success
    {{/if}}
    {{#ifincludes dieType.options.flavor "adapted"}}
      adapted
      {{/ifincludes}}
      {{#ifincludes dieType.options.flavor "regular"}}
      regular
      {{/ifincludes}}
      {{#ifincludes dieType.options.flavor "human"}}
      human
      {{/ifincludes}}
      "
      data-dice-type="
      {{#ifincludes dieType.options.flavor "adapted"}}
      adapted
      {{/ifincludes}}
      {{#ifincludes dieType.options.flavor "regular"}}
      regular
      {{/ifincludes}}
      {{#ifincludes dieType.options.flavor "human"}}
      human
      {{/ifincludes}}">

      <span>{{die.result}}</span>

    </li>
    {{/each}}
    {{/each}}
  </ul>
  <div class="roll-total flexrow">
    <div class="flexcol">
      <h4>nombre de succès :</h4>
      <span id="total">{{roll._total}}</span>
    </div>
    <div class="flexcol">
      <h4>succès <br> requis :</h4>
      <span id="total">{{param.handicap}}</span>
    </div>
  </div>
  
</div>